
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: #1d1d38;
}

canvas {
  /* 让 canvas 填满其外部容器 */
  width: 100%;
  height: 100%;
  display: block;
  /* 聚焦时不显示默认的选中描边 */
  outline: none;
}

canvas:focus {
  outline: none;
}
